.navbar {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icon-logo {
  margin-left: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.nav li a {
  display: inline-block;
  margin-left: 40px;
  padding: 15px 0px;
  color: #222233;
  cursor: pointer;
}
.nav li a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #222233;
  transition: width 0.1s;
}
.nav li a:hover::after {
  width: 100%;
  transition: width 0.1s;
}
