.recent-works {
  background: #fafdff;
  padding: 120px 0;
}

.works {
  max-width: 1260px;
  margin: 0 auto;
}
.works > h2 {
  margin: 0 10px 60px 10px;
  font-size: 2.25em;
  font-weight: 700;
}

.work {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  /* flex-wrap: wrap; */
}

.work__info h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

.work__info h3::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 3px solid #000;
  border-radius: 50%;
}
.work__info.become-a-vegan h3::before {
  border-color: #0c7ded;
}
.work__info.made-marketing--before h3::before {
  border-color: #e6e100;
}

.work__info p {
  max-width: 400px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.462em;
  color: #737980;
}
.project-link {
  display: block;
  padding: 10px 21px;
  text-decoration: underline;
  color: #c7d0d9;
}
.project-link::after {
  content: url(../assets/icons/link-icon.svg);
  display: inline-block;
  margin-left: 5px;
}

.call-portfolio {
  display: inline-block;
  margin-top: 230px;
  padding: 10px 0;
  text-decoration: underline;
  color: #222233;
}

.made-marketing {
  margin-top: 80px;
}
