.recent-works {
  background: #fcfeff;
  padding: 60px 0;
}

.works {
  max-width: 1260px;
  margin: 0 auto;
}
.works > div > h2 {
  margin: 0 10px 5px 10px;
  font-size: 2.25em;
  font-weight: 700;
  position: relative;
}

.video-teste {
  border-radius: 10%;
  box-shadow: 20px 2px 8px -10px rgba(97, 250, 22, 0.4);
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: space-between;
}

.work__info h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

.work__info h3::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 3px solid #000;
  border-radius: 50%;
}
.work__info.become-a-vegan h3::before {
  border-color: #0c7ded;
}
.work__info.made-marketing--before h3::before {
  border-color: #e6e100;
  margin: 0 5px 0 5px;
}

.work__info {
  flex: 1;
}

.work__image {
  flex: 1;
}
.work__image img {
  border-radius: 10px;
}

.work__info p {
  max-width: 450px;
  padding: 0 21px;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.462em;
  color: #737980;
}
.project-link {
  display: block;
  padding: 10px 21px;
  text-decoration: underline;
  color: #c7d0d9;
}
.project-link::after {
  content: url(../assets/icons/link-icon.svg);
  display: inline-block;
  margin-left: 5px;
}

.call-portfolio {
  display: inline-block;
  margin-top: 220px;
  font-size: 1.125em;
  padding: 10px 0;
  text-decoration: underline;
  color: #222233;
}

.call-portfolio--mobile {
  display: none;
}

.made-marketing {
  margin-top: 80px;
}

.underline {
  position: relative;
  height: 0px;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.underline:before {
  display: block;
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(140% + 4px);
  border: none;
  width: calc(280% + 4px);
  border-radius: 15px;
  margin: 0 13px;
  opacity: 0.6;
  background: linear-gradient(45deg, #fffb00, #48ff00, #00ffd5, #002bff);
  background-size: 100%;
}

.works-title {
  margin-bottom: 60px;
}
