/* header */
@media (max-width: 640px) {
  .inner {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    color: #222233;
  }

  .inner h2 {
    padding: 0px;
    font-size: 3.2em;
    line-height: 3.5rem;
    margin: 40px 10px;
    /* color: rgb(30, 82, 82); */
  }
  .inner-services h2 {
    font-size: 2.7em;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .banner-img img {
    padding: 40px 0 0px 0;
    max-width: 80%;
    margin: 0 auto;
  }
  .inner p {
    padding: 0 10px;
    max-width: 500px;
    font-size: 1.125em;
    color: #737980;
  }

  .services__items-page {
    max-width: 300px;
    margin: 0 auto;
  }
  header.mobile-height{
    min-height: 150vh;
  }
  .steps-description h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
  }
  .steps-description ul li p {
    max-width: 300px;
    margin: 20px 10px 40px;
    font-size: 1.125em;
    line-height: 1.4;
  }
  .about-text > h2{
    font-size: 3em;
    font-weight: 500;
    margin: 0 10px 20px 10px;
  }
  .about-text p{
    margin: 0 10px;
    font-size: 1.125em;
  }
  .skills-title > h2{
    font-size: 2em;
  }
  .professional-skills a{
    font-size: 2em;
  }
}

/* Rcent Works */

@media (min-width: 641px) and (max-width: 1265px) {
  .recent-works {
    padding: 100px 0;
  }
  .call-portfolio {
    display: none;
  }
  .call-portfolio.call-portfolio--mobile {
    display: inline-block;
    margin: 0 0;
    font-size: 1.125em;
    padding: 40px 21px 0 21px;
  }
}

@media (max-width: 640px) {
  .recent-works {
    padding: 100px 0;
  }
  .work {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
  }
  .work__info {
    flex: 1 1 600px;
  }
  .work__info {
    flex: 2 1 600px;
  }
  .work__image {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .work__info p {
    max-width: 100%;
    padding: 0 21px;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.462em;
    color: #737980;
  }
  .call-portfolio {
    display: none;
  }
  .call-portfolio.call-portfolio--mobile {
    display: inline-block;
    margin-top: 0;
    font-size: 1.125em;
    padding: 0 21px;
  }
  .work__image.made-marketing--order {
    order: 1;
  }
}

/* workflow */

@media (max-width: 1005px) {
  .work-flow {
    padding: 80px 0 60px 0;
  }

  .work-flow-info {
    flex: 2 1 550px;
  }
  .work-flow-img {
    flex: 1 1 320px;
  }
}

@media (max-width: 885px) {
  .work-flow-img img {
    margin: 0 auto;
    max-width: 70%;
  }
}

@media (max-width: 576px) {
  .work-flow {
    max-width: 300px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    display: block;
  }

  .work-flow-info h2 {
    margin: 0 10px;
    max-width: 700px;
    font-size: 3.5em;
    font-weight: 500;
    line-height: 3.5rem;
  }

  .work-flow-info p {
    max-width: 450px;
    font-size: 1.125em;
    margin: 40px 10px;
    color: #737980;
  }
}

/* services-home */

@media (max-width: 878px) {
  .services__home {
    max-width: 1260px;
    margin: 0 auto 60px auto;
  }

  .services__home > h2 {
    margin: 20px 10px 10px 10px;
  }

  .services__items {
    flex-wrap: wrap;
  }

  .services__items ul {
    margin: 20px 20px;
  }
}
@media (max-width: 576px) {
  .services__home {
    max-width: 300px;
    margin: 0 auto 60px auto;
  }

  .services__home > h2 {
    margin: 20px 10px 10px 10px;
  }

  .services__items {
    display: block;
  }

  .services__items ul {
    margin: 20px 20px;
  }
}

/* contact */

@media (max-width: 1024px) {
  .contact-home {
    padding: 120px 0;
    overflow: hidden;
  }

  .contact-call p {
    margin: 0 100px 0 10px;
    max-width: 520px;
    font-size: 2em;
    line-height: 2.2rem;
  }
}
@media (max-width: 870px) {
  .contact-home {
    padding: 120px 0 60px 0;
    overflow: hidden;
  }

  .contact-home > div {
    flex-wrap: wrap;
  }

  .contact-call p {
    margin: 0 100px 10px 10px;
    max-width: 520px;
    font-size: 2em;
    line-height: 2.2rem;
  }
  .contact-call p:last-child {
    font-size: 2em;
    line-height: 2.2rem;
  }
}

@media (max-width: 576px) {
  .contact-home {
    padding: 120px 0 60px 0;
  }

  .contact-home > div {
    display: block;
    max-width: 300px;
  }

  .contact-call p {
    margin: 0 auto;
    max-width: 300px;
    font-size: 1.5em;
    line-height: 1.6rem;
    text-align: center;
  }
  .contact-call p:last-child {
    font-size: 1.5em;
    line-height: 1.6rem;
    margin: 10px 0 80px 0;
  }
  .contact-call a {
    display: none;
  }
}

/* footer */
@media (max-width: 845px) {
  .footer-content {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }

  .footer-info {
    margin: 0 10px;
  }

  .footer-quote p {
    max-width: 300px;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #fcfeff;
  }
  .footer-quote cite {
    display: block;
    margin: 10px auto 40px auto;
    text-align: right;
  }

  .footer-nav {
    margin: 0px auto;
  }

  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .footer-nav ul li a {
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 0.875em;
  }

  .footer-copy {
    display: block;
  }

  .footer-copy img {
    margin: 0 5px;
  }
  .footer-copy p {
    font-size: 0.675em;
    margin: 20px 10px;
  }

  .footer-contact {
    display: block;
    margin: 10px auto;
  }

  .footer-contact p {
    margin: 0 10px;
    font-size: 0.675em;
  }
  .footer-contact a {
    margin: 5px 0 20px 10px;
    font-size: 0.875em;
    color: #fcfeff;
  }

  .footer-contact ul li a {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {
  .scrolldown {
    display: none;
  }
}
