/* Header */
@media (max-width: 1200px) {
  .header h1 {
    flex: 1 1 655px;
    margin: 0 20px 40px 10px;
  }
}

@media (max-width: 1121px) {
  .header {
    padding: 100px 0px 130px 0px;
  }
  .header h1 {
    flex: 1 1 655px;
    margin: 0 10px 40px 10px;
  }
}

/* Rcent Works */

@media (min-width: 641px) and (max-width: 1265px) {
  .recent-works {
    padding: 100px 0;
  }
  .call-portfolio {
    display: none;
  }
  .call-portfolio.call-portfolio--mobile {
    display: inline-block;
    margin: 0 0;
    font-size: 1.125em;
    padding: 40px 21px 0 21px;
  }
}

@media (max-width: 640px) {
  .recent-works {
    padding: 100px 0;
  }
  .work {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
  }
  .work__info {
    flex: 1 1 600px;
  }
  .work__info {
    flex: 2 1 600px;
  }
  .work__image {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .work__info p {
    max-width: 100%;
    padding: 0 21px;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.462em;
    color: #737980;
  }
  .call-portfolio {
    display: none;
  }
  .call-portfolio.call-portfolio--mobile {
    display: inline-block;
    margin-top: 0;
    font-size: 1.125em;
    padding: 0 21px;
  }
  .work__image.made-marketing--order {
    order: 1;
  }
}

/* workflow */

@media (max-width: 1005px) {
  .work-flow {
    padding: 80px 0 60px 0;
  }

  .work-flow-info {
    flex: 2 1 550px;
  }
  .work-flow-img {
    flex: 1 1 320px;
  }
}

@media (max-width: 885px) {
  .work-flow-img img {
    margin: 0 auto;
    max-width: 70%;
  }
}

/* services-home */

@media (max-width: 878px) {
  .services__home {
    max-width: 1260px;
    margin: 0 auto 60px auto;
  }

  .services__home > h2 {
    margin: 20px 10px 10px 10px;
  }

  .services__items {
    flex-wrap: wrap;
  }

  .services__items ul {
    margin: 20px 20px;
  }
}
