.scrolldown {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
  opacity: 1;
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #2222338c;
  border-right: 2px solid #2222338c;
  animation: animate 1.4s linear infinite;
}

.scrolldown span:nth-child(1) {
  transform: translate(-10px, -10px);
  animation-delay: -0.3s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(10px, 10px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
